RewriteEngine On

# 1. "index.html" isteklerini ana dizine (/) yönlendir
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /index\.html\ HTTP/
RewriteRule ^index\.html$ / [R=301,L]

# 2. Diğer sayfalardaki ".html" uzantılarını kaldır (Örn: hakkimizda.html -> hakkimizda)
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /([^.]+)\.html\ HTTP
RewriteRule ^(.*)\.html$ /$1 [R=301,L]

# 3. Ziyaretçi uzantısız (hakkimizda) girdiğinde arka planda .html dosyasını çalıştır
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.*?)/?$ $1.html [L]

# 4. PHP Yükleme Limitlerini Artır
<IfModule mod_php7.c>
    php_value upload_max_filesize 64M
    php_value post_max_size 64M
    php_value max_execution_time 300
    php_value max_input_time 300
</IfModule>
<IfModule mod_php.c>
    php_value upload_max_filesize 64M
    php_value post_max_size 64M
    php_value max_execution_time 300
    php_value max_input_time 300
</IfModule>
