RewriteEngine On

# 1. "index.html" veya "index.php" isteklerini ana dizine (/) yönlendir
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /index\.(html|php)\ HTTP/
RewriteRule ^index\.(html|php)$ / [R=301,L]

# 2. Diğer sayfalardaki ".html" veya ".php" uzantılarını kaldır (Örn: panel.php -> panel)
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /([^.]+)\.(html|php)\ HTTP
RewriteCond %{REQUEST_METHOD} ^(GET|HEAD)$
RewriteRule ^(.*)\.(html|php)$ /$1 [R=301,L]

# 3. Ziyaretçi uzantısız girdiğinde arka planda .html veya .php dosyasını çalıştır
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.*?)/?$ $1.html [L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*?)/?$ $1.php [L]

# 4. PHP Yükleme Limitlerini Artır
<IfModule mod_php7.c>
    php_value upload_max_filesize 64M
    php_value post_max_size 64M
    php_value max_execution_time 300
    php_value max_input_time 300
</IfModule>
<IfModule mod_php.c>
    php_value upload_max_filesize 64M
    php_value post_max_size 64M
    php_value max_execution_time 300
    php_value max_input_time 300
</IfModule>
